@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

body {
  background-color: aqua;
}

img {
  width: 80px;
  border-radius: 15px;
}

ul li a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: 'DynaPuff', cursive;
  color: white !important;
}

ul li a:hover {
  border-top: 3px solid yellowgreen;
  background-color: brown;
  border-radius: 10px;
  padding: 15px;
}

.nav-item {
  margin-right: 30px;

}

/* header css below */

.header-wrap {
  height: 85vh;
  width: 100%;
  background-image: url(background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.info {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-family: 'DynaPuff', cursive;
  justify-content: center;
  align-items: center;
}

/* typed css below */
.typed-text {
  font-family: 'DynaPuff', cursive;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  font-size: larger;
}
.header-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* button css of contact me */

.contactbtn{
  background-color: aqua;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: 'DynaPuff', cursive;

  
}